form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto;
    width: 70%;
    max-width: 700px;

    .groupContainer{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    textarea {
        width: 100%;
        margin-bottom: 2rem;
    }

    .group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        width: fit-content;

        &.fullWidth {
            width: 100%;
            margin: 0;
        }

        input {
            margin-right: 5px;
            margin-bottom: 10px;

            &[type= "checkbox"], &[type= 'radio'] {
                width: fit-content;
            }
        }
        label {
            width: fit-content;
        }

    }
    input{
        width: 100%;
        border-radius: .5rem;

        &::placeholder{
            color: $color-gray-2;
        }

        &[type='file'] {
            margin-bottom: 2rem;
        }

        &[type='text'],
        &[type='password'],
        &[type='mail'],
        &[type="number"]{
            padding: 2rem;
            margin-bottom: 2rem;
            border: 1px solid $color-gray-2;
            height: 56px;
        }
    }

    input[type="submit"], button, input[type="file"]::-webkit-file-upload-button {
        border: none;
        color: $color-white;
        cursor: pointer;
        width: fit-content;

        &:hover {
            opacity: 0.8;
        }
    }
    button, input[type="file"]::-webkit-file-upload-button {
        background-color: $color-tertiary;
        border-radius: 10px;
        padding: 10px 15px;
    }

    input[type="submit"] {
        background-color: $color-primary;
        padding: 20px 60px;
        margin: auto;
        font-size: 15px;
    }



    select {
        width: 360px;
        height: 56px;
        border-radius: .5rem;
        border: 1px solid $color-gray-2;
        margin-bottom: 2rem;
        padding: 2rem;
    }

    label{
        font-size: 14px;
        color: $color-gray-2;
        margin-bottom: 1rem;
    }

    p {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .stepsContainer {
        margin-bottom: 30px;
    }

    .steps {
        margin-bottom: 0;
        .group {
            margin-bottom: 0;
            width: 100%;

            &:last-child {
                margin-bottom: 10px;
            }

            input{
                margin: 0;
                flex-grow: 1;
            }
        }
    }

    .newStep {
        font-size: 12px;
    }
}