.recipe-list {
  width: 90vw;
  max-width: 128rem;
  margin: auto;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 3rem;
    font-weight: bold;
    color: $color-gray-1;
    margin-bottom: 3rem;
    margin-top: 12.4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
