.recipe {
  padding-top: 10rem;
  width: 90vw;
  margin: 0 auto;
  &__header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    margin-bottom: 6rem;

    &-title {
      font-size: 4rem;
      font-weight: bold;
    }
    &-rate {
      display: flex;
      gap: 0.8rem;
    }
  }

  &__rate-star {
    font-size: 3.6rem;
    color: $color-gray-3;
    &.active {
      color: $color-tertiary;
    }
  }

  &__content {
    display: flex;
    min-height: 34rem;
    gap: 6rem;

    &-image {
      flex-grow: 1;
      max-height: 64rem;

      img {
        border-radius: 1.6rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-infos {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      min-width: 25%;
    }
    &-info {
      display: flex;
      flex-direction: column;
      padding-bottom: 4rem;
      border-bottom: 1px solid $color-gray-3;
      &-row {
        display: flex;
        justify-content: space-between;
      }
      &-label {
        font-size: 2rem;
        color: $color-black;
        font-weight: bold;
      }
      &-value {
        font-size: 2.5rem;
        font-weight: bold;
        color: $color-primary;
      }
      &-help {
        font-size: 2rem;
        color: $color-black;
      }

      &-help-key-value {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &.mt {
          margin-top: 3.2rem;
        }

        span:first-child {
          font-size: 2rem;
          color: $color-black;
        }
        span:last-child {
          font-size: 2rem;
          color: $color-primary;
        }
      }
    }
  }

  &__details {
    margin-top: 4rem;
    margin-bottom: 4rem; 
    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      &-item {
        font-size: 2rem;
        color: $color-gray-3;
        border-bottom: 2px solid $color-gray-3;
        padding: 1.5rem 4rem;
        cursor: pointer;
        &.active {
          color: $color-primary;
          border-bottom: 2px solid $color-primary;
        }
      }
    }

    &-content {
      display: none;
      &.active {
        display: flex;
      }

      &-small-cards {
        display: flex;
        padding-top: 3rem;
        gap: 3rem;
        flex-wrap: wrap;
      }
      &-small-card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $color-gray-2;
        border: 1px solid $color-gray-3;

        border-radius: 1.6rem;
        font-size: 2rem;
        height: 25rem;
        width: 25rem;
        box-sizing: border-box;
        &-texts{
          display: flex;
          width: 100%;
        }
        &-name{
          width: 100%;
          white-space: nowrap;

        }

        &-quantity{

        }

        &-img{
          overflow: hidden;
        }

        img{
          width: 100%;
          height: 100%;
          box-sizing: border-box;
        }

      }
    }

    &-input {
      padding-top: 2rem;
    }

    &-steps{
      margin-top: 4rem;
    }

    &-steps-group{
      display: flex;
      flex-direction: column;
      gap: 4rem;
      &-title{
        font-size: 2rem;
        font-weight: bold;
        color: $color-tertiary;
      }
    }

    &-step{
      display: flex;
      flex-direction: column;
      gap: 4rem;

      &-title{
        font-size: 2rem;
        font-weight: bold;
        color: $color-black;
      }

      &-content{
        font-size: 1.6rem;
        color: $color-black;
      }

    }

  }

  &__comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;

    &--title {
      font-size: 20px;
      font-weight: 800;
      color: $color-tertiary;
    }

    &--section {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      border-bottom: 1px solid $color-gray-3;
      padding: 2rem;

      &:last-child {
        border-bottom: none;
      }
    }

    &--author {
      font-weight: 800;
      margin-bottom: 10px;
    }
  }

  .comment-respond > form {
    width: auto;
    max-width: 100%;

    & > .form-submit {
      align-self: flex-end;
    }
  }
}
