.tabBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 128rem;
  margin: 9rem auto;
  padding: 0 5rem;

  &__link {
    display: block;
    padding: 2rem 5rem;
    border-radius: 1.6rem;
    font-size: 2rem;
    text-decoration: none;
    color: $color-primary;
    background-color: $color-gray-3;
    transition: all 0.3s linear;

    &:first-letter {
      text-transform: capitalize;
    }

    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }

    &.active {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}

