$color-primary: #234a5d;
$color-secondary: #f5cb4c;
$color-tertiary: #dfa191;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-1: #444444;
$color-gray-2: #888888;
$color-gray-3: #eaeaea;
$color-gray-4: #eeeeee;
